{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <div class="container">
        <h1>Comment</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Creator</th>
                    <td>{{ creator }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ comment.content }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ comment.created ? comment.created|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-secondary" class="btn btn-secondary" href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>

        <a class="btn btn-secondary" class="btn btn-secondary" href="{{ path('overview') }}">Back to overview</a>
    </div>
{% endblock %}
