{% extends 'base.html.twig' %}

{% block title %}Not just any blog{% endblock %}

{% block body %}
    <style>
        .looks-nicer { margin: 1em auto; font: 18px/1.5 sans-serif; }
    </style>

    <div class="looks-nicer container">
        <h1>Welcome to the blog about whateverandthensomething!</h1>
        {% if user is defined and user is not null %}
            Hallo {{ user.username }}!
            {% if 'ADMIN' in user.roles %}
                <a class="btn btn-secondary" href="{{ path('user_index') }}">Edit users</a>
                <a class="btn btn-secondary" href="{{ path('role_index') }}">Edit roles</a>
            {% endif %}
            <a class="btn btn-warning" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class="btn btn-secondary" href="{{ path('app_login') }}">Click here to log in</a>
        {% endif %}
        {{ include('post/index.html.twig') }}
    </div>
{% endblock %}
