{% extends 'base.html.twig' %}

{% block title %}Role overview{% endblock %}

{% block body %}
    <div class="container">
        <h1>Role overview</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td>{{ role.id }}</td>
                    <td>{{ role.description }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('role_edit', {'id': role.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">There are no roles</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('role_new') }}">Create new</a>
        <a class="btn btn-secondary" href="{{ path('overview') }}">Back to overview</a>
    </div>
{% endblock %}
