{% extends 'base.html.twig' %}

{% block title %}User overview{% endblock %}

{% block body %}
    <div class="container">

        <h1>User overview</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
{#                    <td>{{ user.password }}</td>#}
                    <td>
                        <ul>
                            {% for role in user.getRoles %}
                                <li>{{ role }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">There are no users</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('user_new') }}">Create new</a>
        <a class="btn btn-secondary" href="{{ path('overview') }}">Back to overview</a>
    </div>
{% endblock %}
